<template>
  <div class="home">
    <div class="row">
      <div class="sidebarArea col-12 col-md-3 col-xl-2">
        <Sidebar />
      </div>
      <div class="pageCtnArea col-12 col-md-9 col-xl-10">
        <h3 style="padding-top: 10rem; line-height: 2">
          歡迎
          <span class="color1">{{name}}<br></span>
          登入MPay管理者後台系統
        </h3>
      </div>
    </div>

  </div>
</template>

<script>
import Sidebar from '@/components/Sidebar.vue'

export default {
    name: 'home',
    components: {
        Sidebar
    },
    data() {
        return {
            name: ''
        }
    },
    created: function () {
      if(!this.$auth.isLogin()){
          this.$router.push({path: '/'});
      }
    }
}
</script>
