<template>
    <div>
        <div class="adminLoginPage"
             v-loading.fullscreen.lock="loading">
            <div class="bgimg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <div class="login">
                            <div class="logo"><img :src="require('@/assets/images/logo2.png')"></div>
                            <div class="loginboxarea">
                                <h4 class="color1"><strong>管理者後台</strong></h4>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="帳號" required autofocus v-model="account">
                                </div>
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="密碼" v-model="password" required>
                                    <span class="invalid-feedback"><strong>{{error}}</strong></span>
                                </div>
                                <input type="button" class="btn btn-info" value="登入" @click="login">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import crypto from "../util/crypto"
    export default {
        name: "AdminLogin",
        data() {
            return {
                //admin 帳號
                account: "",
                //admin 密碼
                password: "",
                //admin 登入錯誤訊息
                error: "",
                loading: false,
            }
        },
        created: function () {
            // if(this.$auth.isLogin()){
            //     this.$router.push({name: 'Welcome'});
            // }
        },
        mounted: function () {

        },
        methods: {
            login: function () {
                // if (this.account === "") {
                //     this.$message.warning("請輸入帳號");
                //     return;
                // }
                //
                // if (this.password === "") {
                //     this.$message.warning("請輸入密碼");
                //     return;
                // }
                // this.loading = true;
                //
                this.$http.fetch`( login , do_login_action )${{
                    'account': this.account,
                    'password': crypto.encryptText(this.password)
                }}
                ${json => {
                    console.log(json);
                    if (json.status_code === 0) {
                        this.$router.push({name: 'Welcome'});
                        this.$message({
                            type: 'success',
                            message: "登入成功",
                            duration: 2000,
                        });
                    } else {
                        this.$message({
                            type: 'error',
                            message: json.message,
                            duration: 2000,
                        })
                    }
                }}`;
            },
        }
    }
</script>
