<template>
    <div class="home">
        <div class="row">
            <div class="sidebarArea col-12 col-md-3 col-xl-2">
                <sidebar />
            </div>
            <div class="pageCtnArea col-12 col-md-9 col-xl-10">
                <navigation-bar/>
                <router-view></router-view>
            </div>
        </div>

    </div>
</template>

<script>
import Sidebar from '@/components/Sidebar.vue'
import NavigationBar from '@/components/NavigationBar.vue'
export default {
    name: "MainPage",
    components: {Sidebar, NavigationBar}
}
</script>

<style scoped>

</style>
