<template>
    <div>
        <div class="top">
            <!--目前位置-->
            <div class="breadcrumb">
                <el-breadcrumb separator-class="el-icon-arrow-right">
                    <el-breadcrumb-item :to="{ path: '/admin/welcome' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>{{group}}</el-breadcrumb-item>
                    <el-breadcrumb-item :to="{ name: pathName }" v-if="title!=''">{{title}}</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <!--登出-->
            <div class="logout" @click="logout"><img :src="require('../assets/images/exit.svg')" height="20"> 登出</div>
            <!--用戶名稱-->
            <div class="user_id">
                <img :src="require('../assets/images/user.svg')" height="20"> {{$auth.getAdminName()==null ? '未登入' : $auth.getAdminName()}}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NavigationBar",
        data() {
            return {
                // group: '',
                title: '',
                pathName:''
            }
        },
        created: function () {
            this.setPath()
        },
        methods: {
            logout: function () {
                this.$auth.clearToken();
                this.$auth.clearAdminLevel();
                this.$auth.clearAdminName();
                this.$router.push({path: '/'});
            },
            setPath() {
                this.group = this.$route.meta.group;
                this.title = this.$route.meta.title;
                this.pathName = this.$route.name
            },
        },
        watch: {
            // 監聽路由
            '$route': 'setPath',
        },
    }
</script>

<style scoped>

</style>
