<template>
    <div class="menu">
        <el-row>
            <el-col class="menuList">
                <li class="logo">
                    <!--<router-link to="/home" style="background-color: transparent !important;">-->
<!--                    <img :src="require('../assets/images/LOGO.svg')">-->
                    <!--</router-link>-->
                </li>
                <li class="topInfo">後台設定範例</li>
                <el-menu
                        class="el-menu-vertical-demo"
                        background-color="transparent"
                        text-color="#fff"
                        active-text-color="#fff"
                        :unique-opened="true"
                        :router="true"
                >
                    <!--將index作為router使用-->

                    <el-menu-item index="welcome">後台設定範例</el-menu-item>


                    <el-submenu index="1">
                        <span slot="title">管理sideBar範例</span>
                        <el-menu-item-group>
                            <el-menu-item >test1</el-menu-item>
                            <!--<router-link :to="{name:'PwdReset'}"><el-menu-item index="2-3" :class="[isPwdReset ? active : '']">密码重置</el-menu-item></router-link>-->
                            <el-menu-item >test2</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    export default {
        name: "Sidebar",
        data() {
            return {
            }
        },
        created: function () {
        },
        mounted: function () { // vue 頁面載入生命週期
        },
        methods: {

        },
        watch: {
        },

    }
</script>

<style scoped>

</style>
