#app{
    font-size: 1rem;
    font-family: Quicksand-Light, 微軟正黑體, sans-serif;
    background: #f0f0f0;
    overflow: hidden;
    width: 100%;
}
a, a:hover{
    text-decoration: none;
}
ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}


.reply-date{
    float: right;}

.el-input__inner.border-20{border-radius: 20px;}

.border-gray{border-color: #787878;;}

/*color*/
:root{
    --main-word-color: #fff;
    --sub-word-color: #E9B800;
    --word-color: #ccc;
    --type2-word-color: #666;
    --type3-word-color: #999;
    --main-btn-color: rgba(233,184,0,0.90);
    --in-color: #6ED1AF;
    --out-color: #F6697D;
}

/*login*/
.adminLoginPage{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: radial-gradient(ellipse at center, #08223b 0%,#000102 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08223b', endColorstr='#000102',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.adminLoginPage .col-lg-4{
    position: relative;
    height: 100vh;
}
.adminLoginPage .logo img{
    height: 5rem;
}
.adminLoginPage .login{
    width: 100%;
    box-sizing: border-box;
    padding: 3rem 2rem 1.5rem 2rem;
    background-color: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -211px;
    box-shadow: 0 0 20px rgba(255,255,255,.2);
}
.login .loginboxarea h4{
    margin: 1rem 0;
}
.login .loginboxarea input{
    background: rgba(255,255,255,.2);
    border: 0;
    margin: 1rem 0;
    color: var(--main-word-color);
}
.login .loginboxarea input::placeholder{
    color: var(--word-color);
}
.login .loginboxarea input[type="button"]{
    background: var(--main-btn-color);
    color: var(--main-word-color);
    min-width: 70%;
    border-radius: 99rem;
}

/*ElementUI/提示框*/
.el-message-box__title, .el-message-box__message p{
    font-family: Quicksand-Light, 微軟正黑體, sans-serif;
}
.el-icon-warning:before{
    color: rgba(45,81,135,.75);
}
.el-button--primary:focus, .el-button--primary:hover, .el-button--primary{
    background-color: #3f4c6b !important;
    border-color: #3f4c6b !important;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
    width: 150px !important;
}
.form-control{
    height: auto;
}

/*sidebar*/
.menuList{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #3f4c6b; /* Old browsers */
    background: radial-gradient(ellipse at center, #08223b 0%,#000102 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08223b', endColorstr='#000102',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.menuList .topInfo{
    padding: 15px 0;
    color: var(--main-word-color);
    background: rgba(255,255,255,.1);
}
.menuList .logo{
    padding: 2rem 0 1rem 0;
}
.menuList .logo img{
    height: 3rem;
}
.menuList .el-menu{
    border: 0;
}
.menuList .el-menu-item.is-active, .menuList .router-link-exact-active.router-link-active{
    background-color: rgba(45,81,135,.85) !important;
}
.menuList .el-menu-item.is-active{
    color: var(--sub-word-color) !important;
}
.menuList .is-opened .el-submenu__title{
    background-color: rgba(45,81,135,.85) !important;
}
.menuList .el-submenu__title, .el-submenu.is-active .el-submenu__title{
    border-bottom-color: rgba(255,255,255,.2) !important;
}
.menuList .el-submenu__title:hover{
    background-color: rgba(45,81,135,.85) !important;
}
.menuList .el-menu-item-group>ul{
    background-color: rgba(45,81,135,.3) !important;
}
.menuList .el-submenu .el-menu-item{
    background-color: transparent !important;
    text-align: left;
}
.menuList .el-submenu .el-menu-item:hover{

    background-color: rgba(255,255,255,.3) !important;
}
.menuList .el-menu-item-group__title{
    padding: 0;
}
/*開關顏色*/
#app .el-switch.is-checked .el-switch__core{
    border-color: #627ca5;
    background-color: #627ca5;
}
#app .el-switch__label.is-active{
    color: #627ca5;
}
#app .el-switch__label{
    color: #b8bcc3;
}
/*pageCtnArea*/
.pageCtnArea{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
}
.pageCtnArea .top{
    width: 95%;
    display: inline-block;
    margin: 1rem 1rem 0 1rem;
    background: #fff;
    border-radius: 5px;
    font-size: .85rem;
}
.pageCtnArea .top .breadcrumb{
    float: left;
    margin: 0;
    background: transparent;
    padding: 1rem;
}
.pageCtnArea .top .user_id{
    float: right;
    padding: 0 1rem;
    margin: 0.75rem 0;
    border-right: 1px solid #ccc;
}
.pageCtnArea .top .logout{
    float: right;
    padding: 0.75rem 1rem;
}
.pageCtnArea .bottom{
    width: 95%;
    display: inline-block;
    margin: 0 1rem 1rem 1rem;
    background: #fff;
    border-radius: 5px;
    font-size: .85rem;

}
.pageCtnArea .bottom h1{
    font-size: 1.5rem;
    text-align: left;
    margin: 0 0 2rem 0;
    padding: 1rem 2.5% 1rem 2.5%;
    border-bottom: 1px solid #ddd;
    line-height: 38px;
    color: #fff;
    background-color: rgba(45,81,135,.75);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.pageCtnArea .bottom .main_button{
    width: 100%;
    padding: 0 2.5rem;
    text-align: left;
}
.pageCtnArea .bottom .main_button button{
    margin-left: .5rem;
}
.pageCtnArea .bottom .edit{
    width: 100%;
    text-align: left;
    padding: 0 2.5rem 2rem 2.5rem;
}
.pageCtnArea .bottom .edit .box{
    padding: 1.5rem 0;
    border-bottom: 1px solid #ccc;
}
.pageCtnArea .bottom .edit .box:first-child{
    padding: 0 0 1.5rem 0;
}
.pageCtnArea .bottom .edit .custom-control{
    display: inline-block;
    margin-right: 1rem;
}
.pageCtnArea .bottom .edit .custom-select, .pageCtnArea .bottom .edit .form-control{
    border: 0;
    font-size: .85rem;
    padding: .75rem 1rem;
    background: #f0f0f0;
    height: auto;
}
.pageCtnArea .bottom .edit_button{
    text-align: center;
    padding-bottom: 2rem;
}
.pageCtnArea .bottom .edit_button button{
    margin: 0 .25rem;
    min-width: 150px;
}




/*------------RWD表格-------------*/

.pageCtnArea .rwd-table {
    margin: 1rem 2.5% 0 2.5%;
    width: 95%;
}

.pageCtnArea .rwd-table tr{
    font-weight: normal;
}

.pageCtnArea .rwd-table th {
    display: none;
}

.pageCtnArea .rwd-table td{
    display: block;
    color: #757575;
}

.pageCtnArea .rwd-table td:before{
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 7rem;
    display: inline-block;
    float: left;
}

.pageCtnArea .rwd-table td:nth-child(1):before {
    /* content: attr(data-th) "　";*/
}

.pageCtnArea .rwd-table span.font1,
.pageCtnArea .rwd-table span.font2 {
    display: table;
}

.pageCtnArea .Page.navigation {
    display: table;
    margin: 0 auto;
}

.pageCtnArea .rwd-table .btn {
    margin: .3rem;
    padding: 0rem .8rem;
}
.pageCtnArea .rwd-table .status{
    background: #ccc;
    color: #FFF;
    font-size: .7rem;
    padding: .2rem .5rem;
    margin-left: .5rem;
    border-radius: 3px;
}
.pageCtnArea .rwd-table .done{
    background: #3486e8;
}
.pageCtnArea .rwd-table .info_id{
    color: #333;
    font-weight: 600;
}
@media(max-width:1024px) {
    .pageCtnArea .rwd-table th,
    .pageCtnArea .rwd-table td {
        text-align: left;
    }
    .pageCtnArea .rwd-table td {
        min-height: 2rem;
        word-break: break-all;
        line-height: 2rem;
    }
    .pageCtnArea .rwd-table td:before {
        height: 1em;
        font-weight: bold;
        color: #000;
    }
    .pageCtnArea .rwd-table tr td:nth-last-child(1) {
        border-bottom: 1px solid #bdbdbd;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
    }
    .pageCtnArea .rwd-table tr td::before {
        height: 2rem;
    }
    .pageCtnArea .rwd-table .btn{
        padding: 0 0.5rem;
        margin: 0 .3rem 0 0;
    }
}
