<template>
    <div class="home">
        <div class="bottom">
            <h1 class="title">{{title}}
            </h1>

            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xl-3">
                        <div class="card border-warning mb-3">
                            <div class="card-header"><img :src="require('../../assets/images/add-group.svg')"
                                                          height="48"> 會員人數
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{todayUserCount}}人</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="card border-warning mb-3">
                            <div class="card-header"><img :src="require('../../assets/images/magnifying-glass.svg')"
                                                          height="48"> 測試
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{allUserCount}}人</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xl-3">
                        <div class="card border-success mb-3">
                            <div class="card-header"><img :src="require('../../assets/images/money-bag.svg')"
                                                          height="40"> 金額
                            </div>
                            <div class="card-body text-success">
                                <h5 class="card-title">TW</h5>
                                <p class="card-text">{{TW}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-xl-3">

                        <div class="card border-success mb-3">
                            <div class="card-header"><img :src="require('../../assets/images/coin.svg')" height="40">
                                TW_TEST
                            </div>
                            <div class="card-body text-success">
                                <h5 class="card-title">TW</h5>
                                <p class="card-text">{{TW}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-xl-12">
                        <div class="card border-danger mb-3">
                            <div class="card-header"><img :src="require('../../assets/images/give-money.svg')"
                                                          height="50"> TEST3
                                <button class="btn btn-danger" >{{exchangeCount}} 筆</button>

                            </div>
                            <div class="card-body text-danger">
                                <!--<button class="btn btn-primary" style="text-align: right">審核</button>-->

                                <p class="card-text">

                                <div class="table-responsive">
                                    <table class="table">

                                        <tr>
                                            <th>a1</th>
                                            <th>a2</th>
                                            <th>a3</th>
                                            <th>a4</th>
                                        </tr>
                                        <tr v-for="item in exchangeList">
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</template>

<script>
    export default {
        name: "Welcome",
        data() {
            return {
                title: '',
                todayUserCount: 0,
                allUserCount: 0,
                exchangeList: '',
                exchangeCount: 0,
                TW: 0,
            }
        },
        created: function () {

        },
        methods: {

        }
    }
</script>

<style scoped>

</style>
